<html></html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/admin.css">
  <title>Document</title>
</head>
<body>
  
      
   <div class="contianer">
    <div class="box box1"> specialties <button>add</button></div>
    <div class="box box2"> <button class="spec">castroenterologist</button>
       
       
        
       
        
      </div>
    <div class="box box3"></div>
    <button class="spec">dentist</button>
    <div class="box box4"></div>
    <button class="spec">cardiology</button>

    <div class="box box5"></div>
    <button class="spec">opthalmologist</button>
    <div class="box box6"></div>
    <button class="spec"> specialist of joints and spine</button>
    <div class="box box7"></div>
    <button class="spec">psychaitrist</button>
    <div class="box box8"></div>
    <div class="box box 9"></div>
   </div>
  
</body>
</html>
