<html></html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/admin.css">
  <title>Document</title>
</head>
<body>
  <section class="spec-con">
    <div class="spece-add">
      <span>spacilties</span>
      <p> doctors</p>
      
      <button class="add">add</button>
      
    </div>
    <div class="speci-add">
      <button class="specilty">Dentistry |طب أسنان</button>
      <button class="specilty">Cardiology | طب القلب</button>
      <button class="specilty">Dermatology |طب الجلدية </button>
    
      <button class="specilty">Orthopedics | طب العظام  </button>
      <button class="specilty">Gastroenterology |
        طب أمراض الجهاز الهضمي </button>
      <button class="specilty">Hematology | طب أمراض الدم  </button>
    </div>

    <div class="doctors-add">
      <div class="do-ed">dr1 <button class="bu-do">edit</button> </div>
      <div class="do-ed">dr2 <button  class="bu-do">edit</button> </div>
      <div class="do-ed">d3 <button class="bu-do">edit</button></div>
      <div class="do-ed">dr2  <button class="bu-do">edit</button></div>
      <div class="do-ed">d3 <button class="bu-do">edit</button></div>
      
      


    </div>
      
    <button class="doctoradd"> add

    </button>


      
    
   
   
  

      
    
 
    


  </section>

  
  
</body>
</html>
