<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
</head>
<body>
    <section>
        <div class="login">
            <form action="/login" method="post">
                <label for="">email</label>
                <input type="email" name="email" placeholder="Email">
                <label for="">phone number</label>
                <input type="tel">
                <label for="">password</label>
                <input type="password" name="password" >
                <input type="submit" value="Login">
            </form>
    
         </div>  
         <div class="imgsign">

         </div>

    </section>
   
     
    
</body>
</html>