<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/in_up_style.css">
    <title>Register</title>
</head>
<body>
    <section class="signup-con">
        <div class="form-con">

            <form action="/register" method="post" class="signup-form">
                <label for="">first name</label>
                <input type="text">
                <label for="">email</label>
                <input type="email">
                <label for="">phone number</label>
                <input type="tel">
                <label for="">birth date</label>
                <input type="date">
                <label for="">password</label>
                <input type="password">
                <label for="">confirm password</label>
                <input type="password">
                <input class="signup-submit" type="submit" value="sign up">
            </form>
        </div>
        
        <div class="img-signup">
          
        
        </div>
       
      

            

     


    </section>
    
</body>
</html>