{% extends 'layout.html' %} {% block title %} Homepage {% endblock %} {% block
body %}


<!------------------------------------ specialtys ------------------------------------------>
<div class="specialties">
  <p class="specialtiess-p">specialty</p>
  <div class="my-flex">
    {% for specialty in specialties %}
    <div class="card">
      <a
        class="card-a"
        href="{{url_for('specialties_router.specialty_details', specialties_name=specialties.name)}}"
      >
        <img class="card-image" src="{{specialty.poster}}" alt=""
      /></a>
      <p class="card-heading">{{specialty.title}}</p>
    </div>
    {% endfor %}
  </div>
</div>

<!---------------------------------------Featured Shows---------------------------------------->


<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  const carousel_options = {
    type: "carousel",
    autoplay: 1000,
    startAt: 0,
    perView: 3,
  };
  new Glide(".glide", carousel_options).mount();
</script>
{% endblock %}
