{% extends 'layout.html' %} {% block title %} Homepage {% endblock %} {% block
    body %}
    <div class="reservations">
        <p class="reservations">reservations</p>
        <div class="my-flex">
          {% for reservation in reservations %}
          <div class="card">
            <a
              class="card-a"
              href="{{url_for('reservations_router.reservations_details', rerservations_name=reservations.name)}}"
            >
              <img class="card-image" src="{{reservation.poster}}" alt=""
            /></a>
            <p class="card-heading">{{reservation.title}}</p>
          </div>
          {% endfor %}
        </div>
      </div>




</body>
{% endblock %}
</html>