{% extends 'layout.html' %} {% block title %} أطباء القلب  {% endblock %} {% block

  body %}
  <body>
    <main>
      <div class="doctors">
        <p class="doctors">specialties</p>
        <div class="my-flex">
          {% for doctor in doctors %}
          <div class="card">
            <a
              class="card-a"
              href="{{url_for('doctors_router.doctors_details', doctors_name=doctors.name)}}"
            >
              <img class="card-image" src="{{doctor.poster}}" alt=""
            /></a>
            <p class="card-heading">{{doctor.title}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>

    
    {% endfor %}
  </body>
  {% endblock %}
</html>
